<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>

{% extends "learning_blogs/base.html" %}

{% load bootstrap3 %}

{% block header %}
    <h2>Log in to your account.</h2>
{% endblock header %}

{% block content %}

    <form action="{% url 'users:login' %}" method="post">

        {% csrf_token %}
        {% bootstrap_form form %}

        {% buttons %}
            <button name="submit">log in</button>
        {% endbuttons %}

        <input type="hidden" name="next" value="{% url 'learning_blogs:index' %}">
    </form>

{% endblock content %}

</body>
</html>